<section class="footer">
  <div class=" footer__container container flex flex-jc-sb">
    <a href="#" class="footer__logo">
      <img src="../../images/footerLogo.svg" />
    </a>


    <nav class="footer__links-box flex">
        <a href="/" class="footer__link">Home</a>
        <a href="/ourwork" class="footer__link">Our Work</a>
        <a href="/services" class="footer__link">Services</a>
        <a href="/about" class="footer__link">About Us</a>
    </nav>

    <div class="footer__socials-box flex flex-col ">
        <a href="https://www.facebook.com/webandflowmarketing" class="footer__social-link">
          <img class="social-icon" src="../../images/facebook.png" />
        </a>
        <a href="#" class="footer__social-link">
          <img class="social-icon" src="../../images/instagram.png" />
        </a>
    </div>

    <p class="footer__copyright">© All right reserved – Web & Flow</p>

  </div>

  
</section>
