<section class="cta container">

    <h2 class="cta__header section-header-primary">Contact Us</h2>

    <p class="cta__text">If you're ready to take your marketing strategy to the next level and achieve your business goals, contact us today to request a free quote! </p>

    <form class="cta__form flex flex-col flex-jc-c">
        <input class="cta__input" type="text" placeholder="name" id="form_name"/>
        <input  class="cta__input" type="email" placeholder="email" id="form_email"/>
        <textarea class="cta__input" name="form_message" id="form_message" cols="30" rows="10" placeholder="message"></textarea>

        <button type="submit">Get Quote</button>
    </form>

</section>