<section class="hero flex flex-col flex-jc-c">

    <div class="hero__container">

        <h1 class="hero__header">Digital marketing made easy</h1>

        <p class="hero__tagline">We help businesses transform their online presence in an increasingly complex and digital world</p>

        <a href="/ourwork"><button class="hero__button secondary">Our Work</button></a>
        

    </div>

</section>