 <section class="services container">

    <h1 class="services__header section-header-primary">What we offer</h1>

    <ul class="services__list">
        <li class="services__list-item">
            <img src="../../../images/code - dark blue.png  "/>
            <h3 class="services__item-heading">Web Development</h3>
        </li>
        <li class="services__list-item">
            <img src="../../../images/web-design-dark blue.png"/>
            <h3 class="services__item-heading">Web Design</h3>
        </li>
        <li class="services__list-item">
            <img src="../../../images/seo - dark blue.png"/>
            <h3 class="services__item-heading">SEO</h3>
        </li>
        <li class="services__list-item">
            <img src="../../../images/social management - dark blue.png"/>
            <h3 class="services__item-heading">Social Media Management</h3>
        </li>
        <li class="services__list-item">
            <img src="../../../images/content marketing dark blue.png"/>
            <h3 class="services__item-heading">Content Marketing</h3>
        </li>
        <li class="services__list-item">
            <img src="../../../images/maintenance.png"/>
            <h3 class="services__item-heading">Web Maintenance</h3>
        </li>
    </ul>

    <button class="services__button button secondary">Learn More</button>

 </section>
 
