:root{

    --primary-grad-top: hsl(215,100%,32%);
    --primary-grad-bottom: hsl(215,100%,60%);
    --secondary-grad-top: hsl(187,53%,50%);
    --secondary-grad-bottom: hsl(187,60%,66%);

    --primary-header: hsl(215,100%,32%);
    --secondary-header: hsl(187,53%,50%);
    --text-body: hsl(0,0%,0%,0.7);
    --form-placeholders: hsl(0,0%,0%,0.29);

    --paragraph-text: hsl(0, 0%, 0%,0.7);

}