:root{
    --font-public-sans: 'Public-sans', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

$public-sans: 'Public Sans' , sans-serif;
$oswald:'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;