<section class="ourWork">

    <div class="ourWork__left-alligned-proof">
        <img src="../../../images/drdougproof.png">
        <div class="ourWork__content">
            <h3 class="ourWork__title">Dr. Doug Reads</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
            <a href="#"><button>View Site</button></a>
        </div>
    </div>
    <div class="ourWork__right-alligned-proof">
        <img src="../../../images/chatappproof.png">
        <div class="ourWork__content">
            <h3 class="ourWork__title">Chat App</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
            <a href="#"><button>View Site</button></a>
        </div>
    </div>
</section>