<section class="about container">
    <div class="flex flex-row flex-jc-sb">
        <div class="about__profile-box">
            <img class="about__picture" src="../../../images/cici.png">
            <h2 class="about__name">Cecilia Chan</h2>
        </div>

        <div class="about__profile-box">
            <img class="about__picture" src="../../../images/james.png">
            <h2 class="about__name">James Soares</h2>
        </div>
    </div>
    <div class="about__content">
        <p>
            Established in 2022 in Toronto, Canada, Web & Flow began when two friends realized they had a shared passion for helping others through digital media. With various skills that complimented each other's, they were inspired to begin the partnership. 
        </p>
        <p>
            Web & Flow is a digital marketing agency that offers website development, web design, web maintenance, search engine optimization (SEO), social media management, and content marketing. 
        </p>
        <p>
            At Web & Flow, we are committed to staying up-to-date on new technologies and methods to ensure our valued clients achieve their goals. Whether it’s optimizing your website to become more user-friendly, or improving your social media presence, we are focused on helping your business grow through your online presence. Take your business to the next level with Web & Flow, and request a free consultation today. 
        </p>
    </div>
</section>