button{

    font-family: var(--font-public-sans);
    font-weight: 400;
    font-size: 1.0125rem;
    color: white;
    background-image: linear-gradient(to right, var(--primary-grad-top), var(--primary-grad-bottom));
    padding: 0.5rem 1.6875rem;
    border-style: none;
    border-radius: 18.7px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    
    
}

button:hover{

    opacity: 80%;
    scale: 1.02;

}