<section class="services serviceList container">

    <div class="intro-text">
        <p >In a world that’s rapidly evolving and shifting online, we want to help your business
            stay ahead of the curve. At Web & Flow, our approach to digital marketing is about finding and connecting with your audience and delivering your message with impact.</p>
       
       <p >By working together to understand your goals and values, we will develop a custom digital marketing strategy that suits your unique business. We’ll help you identify your target audience and craft engaging content that resonates with them.
       </p>
    </div>
    

    <h2 class="services__header section-header-primary">What we offer</h2>

    <ul class="services__list detailed">
        <li class="services__list-item">
            <img src="../../../images/code - dark blue.png  "/>
            <h3 class="services__item-heading">Web Development</h3>
            <p>We'll work with you to understand your business, your values, and your goals to create a modern, unique website to improve your online presence. We’ll create a new, responsive website with up-to-date coding and user-friendly features to allow your online presence to shine! </p>
        </li>
        <li class="services__list-item">
            <img src="../../../images/web-design-dark blue.png"/>
            <h3 class="services__item-heading">Web Design</h3>
            <p>Our web design service is the perfect solution for businesses that want a professional, modern-looking website that is easy to maintain.  We’ll create an engaging, custom website that is both visually appealing and user-friendly to dazzle your audience. 
            </p>
        </li>
        <li class="services__list-item">
            <img src="../../../images/seo - dark blue.png"/>
            <h3 class="services__item-heading">SEO</h3>
            <p>We specialize in boosting your website's ranking on all major search engines. With our help, you can increase your visibility, attract more visitors, and generate more leads and sales. </p>
        </li>
        <li class="services__list-item">
            <img src="../../../images/social management - dark blue.png"/>
            <h3 class="services__item-heading">Social Media Management</h3>
            <p>We offer strategic, customized social media management services for businesses of all sizes. By creating content that is engaging and relevant to your target audience, we will help you grow your online following and track your progress to see the results of our efforts.
            </p>
        </li>
        <li class="services__list-item">
            <img src="../../../images/content marketing dark blue.png"/>
            <h3 class="services__item-heading">Content Marketing</h3>
            <p>Content marketing is an essential part of optimizing your business’s SEO and having the right audiences find your website.By providing relevant content, businesses can build credibility with their customers, promote their brand, and attract new customers from search engines, which can lead to increased sales and brand loyalty.
            </p>
        </li>
        <li class="services__list-item">
            <img src="../../../images/maintenance.png"/>
            <h3 class="services__item-heading">Web Maintenance</h3>
            <p>We can handle all of the maintenance that goes behind your website to ensure it is up-to-date and running smoothly. We’ll help you take care of all the technical aspects so you can focus on running your business.
            </p>
        </li>
    </ul>

    

 </section>
 
